Source: drmips
Section: education
Priority: optional
Maintainer: Bruno Nova <brunomb.nova@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8), openjdk-7-jdk | java7-jdk | openjdk-6-jdk | java6-jdk, texlive-base, texlive-latex-extra, texlive-science, texlive-lang-portuguese
Standards-Version: 3.9.5
Homepage: https://bitbucket.org/brunonova/drmips
Vcs-Git: https://bitbucket.org/brunonova/drmips

Package: drmips
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-7-jre | java7-runtime | openjdk-6-jre | java6-runtime
Description: Educational MIPS simulator
 DrMIPS is a graphical simulator of the MIPS processor to support computer
 architecture teaching and learning. It is intuitive, versatile and
 configurable.
 The simulator is available not only for personal computers but also for
 Android devices, especially tablets.
 .
 DrMIPS was created under the Master's dissertation entitled 
 'Tool to Support Computer Architecture Teaching and Learning' at 
 FEUP.
 .
 This package installs the PC version of the simulator.
